<% include partials/head %>
<body>
  <div class="container mt-5">
    <h1 class="text-center">Authentication System - Nodejs using Passport</h1>
    <small class="author">by germancutraro</small>
    <ul>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</body>
</html>
