<% include partials/head %>
<body>
  <div class="container">
    <h1 class="text-center mt-4">THIS IS THE SECRET PAGE</h1>
    <a href="/logout" class="logout">Logout</a>
    <a href="/" class="logout">Back to Home</a>
  </div>
</body>
</html>
